version: '3'

#env file is ./.env
services:
    front-end:
        container_name: "fronty"
        build: 
            context: 'dash-seg/'
            dockerfile: 'docker/Dockerfile'
        command: 'python src/napp.py'
            #command: 'sleep 60000'
        environment:
            AMQP_URL: 'amqp://rabbit?connection_attempts=5&retry_delay=5'
        depends_on:
            - "rabbit"
        volumes:
            - ./dash-seg/data:/app/work/data
            - ./dash-seg/src:/app/work/src
        ports:
            - '8050:8050'
    rabbit:
        image: 'rabbitmq:latest'
        ports:
            - "5672:5672"

    consumer:
        container_name: "cons"
        build:
            context: "consumer"
            #allow this container to launch sister containers
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "./consumer:/app"
              #- "./dash-seg/data:/data"
            - "data-m:/data"
        environment:
            AMQP_URL: 'amqp://rabbit?connection_attempts=5&retry_delay=5'
            #AMQP_URL: 'amqp://guest:guest@rabbit'
            DATA_DIR: "${COMPOSE_PROJECT_NAME}_data-m"
        depends_on:
            - "rabbit"
volumes: #create named dir and link it to the data folder, so all services can use
    data-m:
        driver: local
        driver_opts:
            type: "none"
            device: "${PWD}/dash-seg/data/"
            o: "bind"
        


        
              #        #    ml:
        #        build: './ml_backend/docker/'
        #        ulimits:
        #            memlock: -1
        #            stack: 67108864
        #        volumes:
        #            - '${PWD}/ml_backend:/work/'
        #        ports:
        #            - '8006:8000'
        #        shm_size: '1g'
        #        runtime: nvidia
        #        environment:
        #            NVIDIA_VISIBLE_DEVICES: all
        #            NVIDIA_DRIVER_CAPABILITIES: all
        #        deploy:
        #            resources:
        #                reservations:
        #                    devices:
        #                        - capabilities:
        #                            - gpu
        #
