#vtk
imageio
dash_core_components
plotly==4.10.0
plotly-express 
CairoSVG==2.4.2
matplotlib
scipy
dash==1.19.0
numpy
scikit_image
dash_html_components
dash_table
Pillow==7.1.2
scikit_learn
gunicorn==20.0.4
pandas
joblib==0.15.1
dash_bootstrap_components
pims
gunicorn
#dash-vtk
#itk==5.2rc1
dash-slicer>=0.2.0
#pika
dash-auth==1.3.2
requests
flask
#torch
kafka-python
pymongo
kq